<footer>
    <section class="quick-link">
        <a href="#">Truyện full</a>
        <a href="#">Truyện hay</a>
        <a href="#">Truyện tranh</a>
        <a href="#">Truyen đề cử</a>
        </section>
    <div class="footer-container">
        <p>Copyright © 2024 KhoTruyen - Kho Đọc Truyện Tranh Hay Nhất.</p>
        <div class="more-link">
            <a href="/search/the-loai?search=Xuyên+Không">Xuyên không</a>
            <a href="/search/the-loai?search=Chuyển+sinh">Chuyển sinh</a>
            <a href="/search/the-loai?search=Tiên+hiệp">Tiên hiệp</a>
            <a href="/search/the-loai?search=Manhwa">Manhwa</a>
            <a href="/search/the-loai?search=Manhua">Manhua</a>
        </div>
    </div>
    </footer>